<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Boolzapp</title>
</head>
<body>
    <main id="app">
        <div class="bg-square"></div>

        <div class="container">
            <section id="left-side">
                <nav>
                    <div class="avatar-container">
                        <a href="#">
                            <img src="img/Nezuko-Kamado.jpg" alt="">
                        </a>
                    </div>
                    <div class="cta-nav">
                        <a href="#">
                            <i class="fas fa-circle-notch"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-comment-alt"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </div>
                </nav>
                <div class="notifications">
                    <div class="icon">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div>
                        <h6>
                            Ricevi notifiche di nuovi messaggi
                        </h6>
                        <a href="#">
                            Attiva notifiche desktop
                        </a>
                    </div>
                </div>
                <div class="search-bar">
                    <div class="search-container">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Search or start a new chat">
                    </div>
                </div>
                <div class="chats-section">
                    <div class="one-chat" v-for="contact in dataList" @click="chatOnClick(contact)">
                        <div class="avatar-container">
                            <img :src="contact.avatar" alt="">
                        </div>
                        <div class="chat-info">
                            <h6> {{ contact.name }} </h6>
                            <p>Non ci sono messaggi</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="right-side">
                <nav>
                    <div class="avatar-container">
                        <a href="#">
                            <img :src="activeChat.avatar" alt="">
                        </a>
                    </div>
                    <div class="chat-info">
                        <h6> {{activeChat.name}} </h6>
                        <p>Ultimo accesso oggi alle 18:33</p>
                    </div>
                    <div class="cta-nav">
                        <a href="#">
                            <i class="fas fa-search"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-paperclip"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </div>
                </nav>
                <div class="chat-room">
                    <div class="chat-baloon" v-for="message in activeChat.messages">
                        <span class="single-message"> 
                            {{message.text}}
                        </span>
                    </div>

                </div>
                <div class="message-panel">
                    <a href="#">
                        <i class="far fa-smile"></i>
                    </a>
                    <input type="text" placeholder="Type here your message...">
                    <a href="#">
                        <i class="fas fa-microphone"></i>
                    </a>
                </div>
            </section>
        </div>
    </main>
    <script src="scripts/data.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>