* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dadbd5;
    padding: 40px 0;
}

.bg-square {
    height: 150px;
    max-height: 20vh;
    width: 100%;
    background-color: #009788;
    position: absolute;
    top: 0;

    z-index: -1;
}

/* ********************************************************* 
    IMPOSTAZIONI PIU GENERALI
********************************************************* */

#app {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.container {
    width: 80%;
    max-width: 1200px;
    max-height: 85vh;
    height: 90vh;

    margin: auto;

    background-color: #ededed;
    color: #1f2729;
    border: 1px solid #b6b6b6;

    display: flex;
    align-items: stretch;
}

section > div,
section > nav {
    padding: 0 8px
}

nav, 
.message-panel {
    height: 50px;
    width: 100%;
}

nav {
    flex-shrink: 0;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.cta-nav a {
    margin: 0 5px;

    display: inline-block;
    padding: 5px;
}

#left-side {
    min-width: 20%;
    width: 500px;

    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.chats-section {
    height: 100%;
    flex-basis: 1;
}


#right-side {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}   

.chat-room {
    height: 80%;
    flex-grow: 1;
    overflow: auto;

    background-image: url(img/mine.jpg);
    background-repeat: repeat;
}

/* ******************************* */
/* Icone AVATAR */
.avatar-container {
    width: 35px;
    height: 35px;
    border-radius: 50%;

    margin-right: 10px;
    flex-shrink: 0;
}
.avatar-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


/* ********************************************************* 
    LEFT SIDE
********************************************************* */

.notifications {
    background-color: #9ee1fe;
    color: #808080;
    height: 80px;

    display: flex;
    align-items: center;
}
.notifications .icon {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #9ee1fe;
    border-radius: 50%;

    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}

.notifications .icon i {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;

}

/* SEARCH BAR */
.search-bar {
    min-height: 40px;
    background-color: #ededed;

    padding-top: 4px;
    padding-bottom: 4px;
}

.search-container {
    height: 95%;
    background-color: white;
    border-radius: 20px;

    padding: 0 10px;

    display: flex;
    align-items: center;
}

.search-container input {
    margin-left: 10px;
    padding: 0 5px;
}

/* CHATS ALL */
.chats-section {
    width: 100%;
    background-color: white;
    padding: 0;

    overflow: auto;
}

.one-chat {
    width: 100%;
    height: 60px;

    padding: 0 8px;

    display: flex;
    align-items: center;

    border-bottom: 1px solid #d7d7d7;
    cursor: pointer;
}

.chat-info {
    position: relative;
    width: calc(100% - 40px);
}

.chat-info p {
    width: 200px;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-info .time {
    display: inline-block;
    width: 30px;
    height: 20px;
    position: absolute;
    right: 4px;
    top: 0;
}

/* classe bg più scuro per chat selezionata */
.gray-bg {
    background-color: #d7d7d7;
}


/* ********************************************************* 
    RIGHT SIDE
********************************************************* */
.chat-info-nav {
    flex-grow: 1;
}

.chat-room {
    height: 100%;
    flex-grow: 1;
}

.message-panel {
    padding-left: 20px;
    
    flex-shrink: 0;

    display: flex;
    align-items: center;
}

.message-panel i {
    font-size: 1rem;
}

.message-panel input {
    padding: 0 10px;
    border-radius: 20px;

    margin-left: 20px;
}

.msg-button {
    display: inline-block;
    padding: 15px;
}
.msg-button.send-btn:hover {
    color: #7cbbb6;
}

.chat-room {
    padding: 20px;
}

.chat-baloon {
    min-height: 80px;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.single-message .time {
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.chat-baloon .fa-check-double {
    font-size: 5px;
}

.single-message {
    min-width: 20%;
    max-width: 80%;
    padding: 20px 15px;

    display: inline-block;
    position: relative;
}

/* MESSAGES BALOONS */
.received,
.sent {
    position: relative;
}

.received {
    background-color: white;
    align-self: flex-start;

    border-radius: 0 10px 10px 10px;
}

.sent {
    background-color: #d5f9ba;
    align-self: flex-end;

    border-radius: 10px 0 10px 10px;
}

.sent::after,
.received::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;

    position: absolute;
}
.received::after {
    border-color: transparent #ffffff transparent transparent;
    border-width: 0 12px 10px 0;
    left: -12px;
    top: 0;
}
.sent::after {
    border-color:  #d5f9ba transparent transparent transparent;
    border-width: 10px 12px 0 0;
    right: -12px;
    top: 0;
}


/* Message menu arrow  */
.single-message .fa-chevron-down {
    position: absolute;
    top: 5px;

    font-size: 1rem;
}

.single-message.sent .fa-chevron-down {
    right: 10px;
}
.single-message.received .fa-chevron-down {
    left: 10px;
}

.menu-arrow {
    opacity: 0;
}

.single-message:hover .menu-arrow {
    opacity: .7;
    transition: opacity .5s;
}

/* MENU A COMPARSA al click della freccia  */

.menu-block {
    width: 150px;
    position: absolute;
    top: 20px;
    
    z-index: 10;

    background-color: rgb(243, 243, 243);
    border-radius: 2px;

}

.menu-block ul {
    list-style: none;
}

.sent .menu-block {
    right: 8px;
}

.received .menu-block {
    left: 8px;
}

.menu-block li:hover {
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}
.menu-block li {
    padding: 10px 20px;
}



.close-popup {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    border-radius: 50%;
    text-align: center;
    
}

.close-popup i {
    font-size: 1.2rem;
    line-height: 20px;
}

.sent .close-popup {
    left: -10px;
}
.received .close-popup {
    right: -10px;
}



/* ********************************************************* 
    CLASSI COMUNI
********************************************************* */


h6 {
    font-size: .85rem;

    margin-bottom: 5px;
}

p, a, span,
.single-message {
    font-size: .75rem;
}

.single-message {
    line-height: 1.5;

}

p {
    color: #636363;
}

i {
    font-size: .85rem;
}

a {
    color: #808080;
}
a:hover {
    color: #6b6b6b;
}

input {
    width: 100%;
    height: 80%;
    border: 0;
}

input:active,
input:focus {
    outline: none;
}

.time {
    font-size: 8px;
    color: rgb(141, 141, 141);

}


::-webkit-scrollbar {
width: 8px;
height: 8px;
}
::-webkit-scrollbar-thumb {
background: linear-gradient(13deg, #c7f8ff 14%,#ffd4fd 64%);
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
background: linear-gradient(13deg, #d0d8a2 14%,#f7d0b9 64%);
}
::-webkit-scrollbar-track{
background: #ffffff;
border-radius: 10px;
box-shadow: inset 7px 10px 12px #f0f0f0;
}


/* 
COLORI SFONDO:
verde whatsapp: #009788
grigio: #dadbd5


FINESTRA CHAT
grigetto chiaro: #ededed
grigio per le icone: #808080
grigio chat selezionata: #d7d7d7

TESTI: 
testo scuro: #1f2729

sottotitoli più chiari,
testo input: #636363


background azzurro(notifiche?): #9ee1fe



*/